*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
#header{
    height: 100vh;
    background-image: url(images/background.png);
    background-position: cover;
    background-size: cover;
}
.container{
    margin-right: 100px;
    margin-left: 100px;
}
.logo{
    margin-top: 30px;
    width: 100px;
}
.header-text{
    max-width: 350px;
    margin-top: 140px;
}
h1{
    font-size: 34px;
}
.square{
    height: 12px;
    width: 12px;
    display: inline-block;
    background-color: #f67c92;
    margin: 15px 0px;
}
.common-btn{
    padding: 18px 14px;
    background: transparent;
    outline: none;
    border: 2px solid #f67c92;
    font-weight: bold;
    cursor: pointer;
}
p{
    font-size: 15px;
    line-height: 18px;
    color: #777;
}
.header-text button{
    margin-top: 20px;
    margin-bottom: 60px;
}
.line-1{
    width: 15px;
    height: 15px;
    background: #f67c92;
    display: inline-block;
}
.line-2{
    width: 80px;
    height: 1px;
    background: #f67c92;
    display: inline-block;
}
.line-3{
    width: 60px;
    height: 1px;
    background: #f67c92;
    display: inline-block;
}
.line{
    line-height: 8px;
}
#sidenav{
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: #f67c92;
    z-index: 2;
    transition: .5s;
}
nav ul li{
    list-style: none;
    margin: 50px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
}
#menubtn{
    width: 50px;
    position: fixed;
    right: 65px;
    top: 35px;
    z-index: 2;
    cursor: pointer;
}


/* ------about------- */
#about{
    padding: 100px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.about-left-col{
    flex-basis: 50%;
}
.about-left-col img{
    width: 100%;
}
.about-right-col{
    flex-basis: 50%;
    text-align: right;
}
.about-text{
    max-width: 500px;
    margin-right: 100px;
    display: inline-block;
}

.about-text h2{
    margin: 50px 0 10px;
    font-size: 28px;
    font-style: italic;
}
.about-text h3{
    font-size: 20px;
    font-style: italic;
    color: #777;
}

/* --------feaures-------- */
#feature{
    padding-top: 50px;
    padding-bottom: 50px;
}
.feature-row{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.feature-col{
    flex-basis: 25%;
    text-align: center;
}